venv
src/utils/creds.py
aprend.ipynb
state.json
products.csv
*skus_Amazon
*credentials.py
*__pycache__
state_amazon.json
state_shopify.json
allData.json
Responsedata_load_shopify.json
Responsedata_load_ripley.json



